.root{
    -fx-background-color: #383838;
    -fx-font-size: 10pt;

}
.label{
    -fx-text-fill: rgba(235, 203, 212, 0.91)
}
.button{
    -fx-background-color: linear-gradient(#830032, rgb(235, 203, 212));
    -fx-text-fill: rgba(56, 56, 56, 0.98);
    -fx-background-radius: 7;
    -fx-pref-width:100px;

}
.text-field{
    -fx-text-fill: rgba(235, 203, 212, 0.95);
    -fx-background-radius: 7;
    -fx-background-color: #830032;
}